@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darker:#111;
  --color-dark:#121215;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-robo: var(--font-roboto)
  /* --font-alrt: var(--font-albert); */


    --breakpoint-500: 31.25rem;   /* 500px */
  --breakpoint-900: 56.25rem;   /* 900px  */
  --breakpoint-xlg: 72rem;    /* 1152px */
  --breakpoint-1440: 90rem;
  --breakpoint-3xl: 109.0625rem; /* 1745px */
  --breakpoint-4xl: 120rem;
  --breakpoint-5xl: 144rem;

}


.heading-albert {
  font-family:  sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.HeadingCTABtn {
  /* border-top: 1px solid white; */
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.226);
  border-bottom: 2px solid rgba(255, 255, 255, 0.616);
}