@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darker:#111;
  --color-dark:#121215;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-robo: var(--font-roboto);
  --font-albe: var(--font-albert);
  --font-sfth: var(--font-sfThin);
  --font-sfbo: var(--font-sfBold);
  --font-jost: var(--font-jost);

  --color-primary-orange: #F2721F;  /* Bright orange from “MAST”/light-bulb outline */
  --color-primary-blue:   #2098D2;  /* Vivid cyan-blue from “Junior”/light-bulb fill */

  /* Secondary palette */
  --color-secondary-orange-light: #EB965D;  /* Softer orange accent */
  --color-secondary-peach:        #F0AD91;  /* Warm peach tone */
  


  

}


.heading-albert {
  font-family:  "Albert Sans",sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.HeadingCTABtn {
  /* border-top: 1px solid white; */
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.226);
  border-bottom: 2px solid rgba(255, 255, 255, 0.616);
}